
.menubar__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.582);
    z-index: 998;
}

.menubar__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    min-height: 100vh;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

.menubar__top {
    display: flex;
}

.menubar__btn {
    width: 50%;
    font-size: 16px;
    line-height: 38px;
    height: 40px;
    text-transform: uppercase;
    border: none;
}

.menubar__btn:nth-child(1) {
    color: #fff;
    background: #6bad0d;
}

.menubar__btn:nth-child(2) {
    color: #909090;
}

